.well > p {
    margin:0 10px 0 10px !important;
    font-size:20px;
}

label {
    cursor: pointer;
    margin-left: 15px;
    padding:0;
    font-size:15px;
}

li {
    
}

.panel-c {
    margin-bottom: 25px;
height: 345px;
}

.panel-c > .panel-body {
    height:300px;
    overflow: scroll;
}

.panel-log {
    height:302px;
}

.panel-log > .panel-body {
    height:259px;
    overflow: scroll;
}

#dateSelector {
    margin:15px 0px 15px 0px;
    padding:10px;
    background:#EEE;
}

#dateSelector > button {
    margin:10px;
}

.stremWrap > span:nth-child(4){
    color: #dadada;
    left: 96px;
    font-size: 45px;
    top: 164px;
    position: absolute;
}

.stremWrap > span.glyphicon-fire {
    -webkit-animation-name: 'anime1';
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay:0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
}

.stremWrap > span.glyphicon-tint {
    -webkit-animation-name: 'anime2';
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay:0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
}

.stremWrap > span.glyphicon-adjust {
    -webkit-animation-name: 'anime3';
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay:0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
}

.stremWrap > span.glyphicon-cloud {
    -webkit-animation-name: 'anime4';
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay:0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:alternate;
}

@-webkit-keyframes 'anime1' {
    0% {    color:#dadada;  }
    100% {  color:#ED5D5C;  }
}
@-webkit-keyframes 'anime2' {
    0% {    color:#dadada;  }
    100% {  color:#98D1CD;  }
}
@-webkit-keyframes 'anime3' {
    0% {    color:#dadada;  }
    100% {  color:#FFD464;  }
}
@-webkit-keyframes 'anime4' {
    0% {    color:#dadada;  }
    100% {  color:#5133AB;  }
}

.input-group-c {
    margin-bottom:22px;
    margin-top:22px;
}

.col-lg-3-t {
    width:22% !important;
}

#line1logTable {
    font-size:13px;
}

#lineRecordTable {
    
}

#mailBtn {
    color: #888;
    cursor: pointer;
    font-size: 28px;
    top: 44px;
    position: absolute;
    right: 21px;
}

.p-c {
    font-size:20px !important;
    margin: 20px 0px !important;
}

.photodiv {
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.4);
    background: #EEE;
    padding: 10px 0 40px 30px;
    margin-bottom:30px;
}

.chk-c {
    display:inline-block !important;
    margin-right:20px;
}

.col-p15 {
    box-shadow:0 0 1px rgba(0,0,0,0.7);
    margin-left:6px;
    margin-right:6px;
    width:24% !important;
    padding-top:10px;
    border-radius:5px;
    margin-bottom:15px;
}

.col-p15:hover {
    -webkit-box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
     background:#fafafa;
     transition-property: -webkit-box-shadow,background;
     transition-duration: 0.5s;
}

.col-p15 > a {
    display:block;
    padding-top:15px;
    padding-bottom:15px;
}

.picture_row {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    background: #f5f5f5;
    padding: 10px;
}

.celsius-ui-widget > .ui-widget-header,.range-celsius > .ui-rangeSlider-container > .ui-rangeSlider-bar {
    background:#ED5D5C !important;
    box-shadow:none !important;
    border-radius:3px !important;
}
.humidity-ui-widget > .ui-widget-header,.range-humidity > .ui-rangeSlider-container > .ui-rangeSlider-bar{
    background:#98D1CD !important;
    box-shadow:none !important;
    border-radius:3px !important;
}

.ui-slider-horizontal {
    height:1.0em !important;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.2em !important;
    margin-left: -.6em !important;
}

.ui-widget-content {
    //background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#67707F), color-stop(100%,#888DA0)) !important;
    z-index:9999 !important;
    margin-bottom:30px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container {
    border:1px solid #EEE !important;
}

#range1,#range2 {
    margin-bottom:15px;
}

.slider-span {
   color:#555;
    font-size: 30px;
    right: 17px;
    position: absolute;
    top: 2px;
}

.warning-span {
    font-size: 18px;
    left: 17px;
    bottom: 4px;
    position: absolute;
    opacity: 0;
    color:#ff4040;
}

.wrapAllLine {
    
}

.text_wrap ul {
    padding-left: 0;
}

.text_wrap ul li {
    list-style-type: none;
}